force-app/main/default/flows/Dealer_Location_Setup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>fillInTimeFields</name>
        <label>fillInTimeFields</label>
        <locationX>1578</locationX>
        <locationY>397</locationY>
        <actionName>timeTypeWrapper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AddToCollection</targetReference>
        </connector>
        <inputParameters>
            <name>CloseTimeString</name>
            <value>
                <elementReference>CloseTime.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Hours</name>
            <value>
                <elementReference>thisHour</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartTimeString</name>
            <value>
                <elementReference>StartTime.value</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <name>AddToCollection</name>
        <label>AddToCollection</label>
        <locationX>1578</locationX>
        <locationY>250</locationY>
        <assignmentItems>
            <assignToReference>HoursToSave</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fillInTimeFields</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopDays</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateNewHours</name>
        <label>CreateNewHours</label>
        <locationX>1578</locationX>
        <locationY>537</locationY>
        <assignmentItems>
            <assignToReference>thisHour.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Save_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thisHour.Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopDays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fillInTimeFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MakeDays</name>
        <label>MakeDays</label>
        <locationX>50</locationX>
        <locationY>285</locationY>
        <assignmentItems>
            <assignToReference>DaysOfTheWeek</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Monday</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DaysOfTheWeek</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Tuesday</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DaysOfTheWeek</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Wednesday</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DaysOfTheWeek</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Thursday</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DaysOfTheWeek</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Friday</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DaysOfTheWeek</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Saturday</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DaysOfTheWeek</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sunday</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Partner_Info</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>DifferentHours</name>
        <choiceText>The location has different hours on different days</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>Samehourseveryday</name>
        <choiceText>The location has the same hours each day that it&apos;s open</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>WeekdaysSame</name>
        <choiceText>The location has consistent weekday hours but different hours on weekends</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <decisions>
        <name>CheckCurrentDay</name>
        <label>Check Current Day</label>
        <locationX>1331</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>LoopDays</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>defaultOutcome</defaultConnectorLabel>
        <rules>
            <name>hasDay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Days</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopDays</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateNewHours</targetReference>
            </connector>
            <label>hasDay</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_from_Hours_Question</name>
        <label>Decision from Hours Question</label>
        <locationX>909</locationX>
        <locationY>170</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consistent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consistent_Hours</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Samehourseveryday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Time_Entry_Screen</targetReference>
            </connector>
            <label>Consistent</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DaysPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Day__c</picklistField>
        <picklistObject>Hours__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Dealer Location Setup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dealer Location Setup</label>
    <loops>
        <name>LoopDays</name>
        <label>LoopDays</label>
        <locationX>1339</locationX>
        <locationY>250</locationY>
        <collectionReference>DaysOfTheWeek</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckCurrentDay</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Hours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Hours</name>
        <label>Create Hours</label>
        <locationX>1339</locationX>
        <locationY>50</locationY>
        <inputReference>HoursToSave</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Save_Location</name>
        <label>Save Location</label>
        <locationX>493</locationX>
        <locationY>555</locationY>
        <connector>
            <targetReference>Select_Days</targetReference>
        </connector>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>Physical_Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Location_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>Get_Partner_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postal_Code__c</field>
            <value>
                <elementReference>Physical_Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street_Address__c</field>
            <value>
                <elementReference>Physical_Address.street</elementReference>
            </value>
        </inputAssignments>
        <object>Dealer_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Partner_Info</name>
        <label>Get Partner Info</label>
        <locationX>254</locationX>
        <locationY>363</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_a_new_Location</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default Partner</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Ask_about_hours_consistency</name>
        <label>Ask about hours consistency</label>
        <locationX>788</locationX>
        <locationY>363</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_from_Hours_Question</targetReference>
        </connector>
        <fields>
            <name>Debug</name>
            <fieldText>&lt;p&gt;{!Days}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Consistent_Hours</name>
            <choiceReferences>Samehourseveryday</choiceReferences>
            <choiceReferences>WeekdaysSame</choiceReferences>
            <choiceReferences>DifferentHours</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Do your hours change by day?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_a_new_Location</name>
        <label>Create a new Location</label>
        <locationX>409</locationX>
        <locationY>362</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Save_Location</targetReference>
        </connector>
        <fields>
            <name>Location_Name</name>
            <dataType>String</dataType>
            <fieldText>Location Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Physical_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Physical Address</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Intro_Screen</name>
        <label>Intro Screen</label>
        <locationX>248</locationX>
        <locationY>197</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MakeDays</targetReference>
        </connector>
        <fields>
            <name>setupInstructions</name>
            <fieldText>&lt;p&gt;Click Next to set up a new location&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Days</name>
        <label>Select Days</label>
        <locationX>610</locationX>
        <locationY>364</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Ask_about_hours_consistency</targetReference>
        </connector>
        <fields>
            <name>Days</name>
            <choiceReferences>DaysPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What Days is the location open</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Time_Entry_Screen</name>
        <label>Time Entry Screen</label>
        <locationX>1058</locationX>
        <locationY>368</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopDays</targetReference>
        </connector>
        <fields>
            <name>StartTime</name>
            <extensionName>c:flowTimeInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Open Time</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CloseTime</name>
            <extensionName>c:flowTimeInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Close Time</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>295</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Intro_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>HoursLabelTemplate</name>
        <text>&lt;p&gt;What are the hours?&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>DaysOfTheWeek</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HoursToSave</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hours__c</objectType>
    </variables>
    <variables>
        <name>thisHour</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Hours__c</objectType>
    </variables>
</Flow>
